body {
  text-shadow: black 0 9px 11px;
  color: white;
}

.container {
  margin: 0 auto;

  .title {
    position: relative;
    align-items: center;
    display: flex;
    overflow: hidden;

    .title-bg {
      position: absolute;
      height: 100%;
      width: 100%;
      background: radial-gradient(#00800000, black);
      background-size: 3px 3px;
      z-index: 1;
    }

    .line {
      position: absolute;
      width: 100%;
      background: red;
      height: 12px;
      z-index: 0;
      box-shadow: #1f1f1f 0 0 0 28px;
      background: linear-gradient(45deg, blue, red, blue);
    }

    h2 {
      font-size: 4rem;
      position: relative;
      padding: 0 20px;
      text-transform: uppercase;
      z-index: 2;
      left: 20px;
      width: 370px;
      text-align: center;

      transition: left 1.2s ease-out;
      color: #ffffff;
    }
  }

  .min-wrapper {
    overflow: hidden;
    transition: all 1s ease-in;
    margin: 0 20px;
        padding: 50px 0;
  }
}
