
#app {
  .nav {
    background: #1f1f1f;
    position: sticky;
top: 0;
overflow: hidden;
    z-index: 100;
        margin-top: -10px;
    .nav-wrapper {
      background: #1f1f1f;
      margin: 0 auto;
      display: flex;
      align-items: center;
      height: 80px;
    }

    .logo {
      height: 80px;
      width: 70px;
      margin-right: auto;

      .logo-img {
        background: url(/img/logo.png);
        height: 82px;
        width: 146px;
        position: absolute;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        transform-origin: 53% 50%;
      }
    }


      .menu {
        display: flex;
        flex-direction: row;
        letter-spacing: .2rem;
        height: 100%;
        :last-child{
          margin-right: 0;
        }
        li {
          color: white;
          padding: 0 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;
          .hover-bg{
            background: radial-gradient(#00800000, black);
            background-size: 3px 3px;
            position: absolute;
            height: 100%;
            width: 135px;
            left: 0px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
          }
          a{
            min-width: 95px;
            text-align: center;
            z-index: 1;
            transition: all 1s ease-in-out;
            color: white;
            text-decoration: none;
          }
          &:hover{
            .hover-bg{
              opacity: 1;
            }
            a{
              text-shadow: white 0px 0px 10px;
            }
          }
        }


      }

  }
}
