#app {
  #skills {
    .container {
      .min-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .skills-grid {
          display: flex;
          max-width: 1400px;
          margin: 0 auto;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          transition: 1s all ease-in-out;

          &.skill-slide-1 {
            &.slide-closed {
              transform: translate(-150%, 0);
              opacity: 0;
            }
          }

          &.skill-slide-2 {
            position: absolute;
            transform: translate(150%, 0);
            opacity: 0;

            &.slide-open {
              transform: translate(0, 0);
              opacity: 1;
            }
          }

          .skill {
            max-width: 351px;
            padding: 20px;
            width: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            .skill-wrapper {
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              font-size: 1.5rem;
              text-shadow: black 0 9px 11px;
              color: #eaeaea;
              width: 100%;
              max-width: 300px;

              &:after {
                content: '';
                display: block;
                padding-top: 100%;
              }
            }

            p {
              position: absolute;
              font-size: 2rem;
            }

            &.html {
              .skill-wrapper {
                border: #8a91d8 solid;
              }
              text-shadow: black 0 9px 11px;
              color: #eaeaea;
            }

            &.sql {
              .skill-wrapper {
                border: #ff4400 solid;
              }
            }

            &.css {
              .skill-wrapper {
                border: yellow solid;
              }
            }

            &.js {
              .skill-wrapper {
                border: #8b0000 solid;
              }
            }

            &.git {
              .skill-wrapper {
                border: #a252ff solid;
              }
            }

            &.node {
              .skill-wrapper {
                border: #129400 solid;
              }
            }
          }
        }

        .next {
          position: absolute;
          height: 100%;
          top: 0;
          right: 0;
          align-items: center;
          display: flex;
          font-size: 2rem;
          transition: all 1s ease-in-out;
          z-index: 2;

          &.slide-open {
            right: calc(100% - 50px);
            text-shadow: black 0 -9px 11px;

            .fas {
              animation: float-reverse 2s ease-in-out infinite;
              transform: rotate(180deg);
            }
          }

          .fas {
            font-size: 2rem;
            color: #b0aeae;
            transition: all 0.5s linear;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }

          &:hover {
            .fas {
              color: white;
              text-shadow: white 0 0 10px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #app {
    #skills {

      .skill {
        padding: 10px !important;
        min-width: 150px !important;
        width: 50% !important;
        max-width: 242px !important;
        p{
          font-size: 1.5rem !important;
        }
      }

      .next {
        align-items: flex-start !important;
        margin-top: 20px;
      }
    }
  }
}
