@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import 'reset';
@import 'hero';
@import 'nav';
@import 'about';
@import 'skills';
@import 'main-global';
@import 'projects';
@import 'global-animations';

body {
  text-shadow: black 0 9px 11px;
  color: white;
  &.pop-up{
    overflow: hidden;
  }
}


#footer {
  .footer-wrapper {
    height: 50vh;
    background: #1f1f1f;
  }
}
