@import url('https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap100');
@import 'reset';
@import 'hero';

#app {
  .nav {
    background: #1f1f1f;
    position: sticky;
top: 0;
overflow: hidden;

    .nav-wrapper {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      height: 80px;
    }

    .logo {
      height: 80px;
      width: 70px;
      margin-right: auto;

      .logo-img {
        background: url(/img/logo.png);
        height: 82px;
        width: 146px;
        position: absolute;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        transform-origin: 53% 50%;
      }
    }


      .menu {
        display: flex;
        flex-direction: row;
        letter-spacing: .2rem;
        height: 100%;
        :last-child{
          margin-right: 0;
        }
        li {
          color: white;
          margin: 0 20px;
          padding: 0 20px;
display: flex;
align-items: center;
        }

      }

  }
}
