#projects {
  .container {
    .title {}

    .min-wrapper {
      margin: 0 20px;
      .project-wrapper {
        .more-btn{
          &.hidden{
            display: none;
          }
        }
        .selection-wrapper {
          padding: 20px 0;
          margin: 0 20px;

          .project-selection-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            li {
              font-size: 1.3rem;
            }
          }
        }

        .projects-grid {
          max-width: 1400px;
          margin: 0 auto;
          .project {
            display: flex;
            align-items: flex-start;
            padding: 20px;
            transition: all 1s ease-in-out;
            opacity: 1;
            &:nth-child(even){
              flex-direction: row-reverse;
              .project-info{
                  margin: 0 20px 0 0;
              }
            }
            &:not(:last-child){
              margin-bottom: 100px;
            }
            &.adding{
              opacity: 0;
            }
            .square{
              width: 100%;
              border: green solid;
              max-width: 351px;
              position: relative;
              justify-content: center;
              align-items: center;
              position: relative;
              .img-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 20px;
                height: 100%;
                img{
                  width: 100%;

                      box-shadow: rgb(40, 40, 40) 0 0 20px, rgb(31, 31, 31) 0 0 0 20px;

                }
              }
            }
            .project-info{
                margin: 0 0 0 20px;
            }
          }
        }
      }
    }
  }
}
